 @define-color color_orange_nixie #ffba00;
 @define-color color_orange_glow #fff749;
 @define-color color_gray_light #333333;
 @define-color color_gray_dark #1e1e1e;
 @define-color color_white_smoke #cecece;
 @define-color color_white_clear #f7ffff;



.lightdm-gtk-greeter {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
 
/* the panel widget at the top */
#panel_window 
{
    background-color: alpha(@color_gray_dark,0.6);
    color: white;
    font: bold;
    text-shadow: 0 1px alpha(@color_gray_light,0.5);
    icon-shadow: 0 1px alpha(@color_gray_light,0.5);
    box-shadow: inset 0 -1px alpha(@color_gray_light,0.5);
    border:none;
}

/* topmenu bar*/
#panel_window > #menubar 
{
    background-color: alpha(@color_gray_dark,0.6);
    background-image: none;
    color: @color_white_smoke;
    border:none;
}




/* the top half of the login-window, in GtkDialog terms, the content(inner) */
#content_frame 
{
    padding-bottom: 0px;
    background-color: transparent;
}


#login_notebook {
    background-color: transparent;
    border : none;
}




/* the warning, in case a wrong password is entered or something else goes wrong according to PAM */
#greeter_infobar {
    border-bottom-width: 0;
    font: bold;
}


/* ----------------------- dialog ----------------------------- */
/* the login window */
#login_window
{
    border-style: none;
    border-radius: 0px;
    background-color:transparent;
    color: @color_orange_nixie;
}


/* shutdown and restart confirm dialog */
#shutdown_dialog,
#restart_dialog {
    border-style: none;
    border-radius: 0px;
    background-color:transparent;
    color: @color_white_smoke;
}



/* ------------------------- the user's avatar box -------------------------------- */
#user_image {
    padding: 3px;
    border-radius: 3px;
    /* draw border using box-shadow */
    box-shadow: inset 1px 0 shade(@lightdm_bg_color, 0.75),
                inset -1px 0 shade(@lightdm_bg_color, 0.75),
                inset 0 1px shade(@lightdm_bg_color, 0.55),
                inset 0 -1px shade(@lightdm_bg_color, 1.8);
}

/* the border around the user's avatar box */
#user_image_border {
    border-radius: 3px;
    box-shadow: inset 0 1px shade(@lightdm_bg_color, 0.8),
                inset 0 -1px shade(@lightdm_bg_color, 0.55);
    background-color: transparent;
}




/* --------------------------- ui buttons ------------------------------------------ */

#login_button,
#login_window .button,
#cancel_button,
#shutdown_button,
#restart_button {
    color: @color_white_smoke;
    background-color: alpha(@color_gray_dark, 0.1);
    background-image: none;
    border: 1px solid alpha(@color_white_smoke,0.5);
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    text-shadow: 0 0 7px @color_white_snoke;
    box-shadow: inset 1px 0px alpha(@color_white_smoke, 0.2),
                inset -1px 0px alpha(@olor_white_smoke, 0.2),
                inset 0px 1px alpha(@olor_white_smoke, 0.3),
                inset 0px -1px alpha(@olor_white_smoke, 0.1);
}

/* ui button hover */
#login_window .button:hover ,
#login_button:hover,
#cancel_button:hover,
#shutdown_button:hover,
#restart_button:hover
{
    background-color: alpha(@color_gray_dark, 0.5);
    text-shadow: 0 0 12px @color_white_clear;
    border-color: @color_white_clear;
    color:@color_white_clear;
}

/* ui button focus */
#shutdown_button:focus,
#restart_button:focus,
#cancel_button:focus,
#login_window .button:focus ,
#login_button:focus
{
    background-color: alpha(@color_gray_dark, 0.5);
    text-shadow: 0 0 12px @color_white_clear;
    border-color: @color_white_clear;
    color:@color_white_clear;
}

/* --------------------------------------- testing ---------------------------------- */


#prompt_entry{
    color: @color_gray_light;
    border: 1px solid @color_gray_dark;
    border-radius: 3px;
}

